@model InsuranceCompany.Models.Client

@{
    ViewData["Title"] = "Удаление клиентов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="card mb-3">
        <h3 class="card-header text-primary text-center">@Model.Surname @Model.Name @Model.MiddleName</h3>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayNameFor(model => Model.Birthdate)</h5>
            <h6 class="card-subtitle text-muted">@Model.Birthdate.ToShortDateString()</h6>

            <h5 class="card-title">@Html.DisplayNameFor(model => Model.MobilePhone)</h5>
            <h6 class="card-subtitle text-muted">@Model.MobilePhone</h6>

            <h5 class="card-title">@Html.DisplayNameFor(model => Model.Address)</h5>
            <h6 class="card-subtitle text-muted">@Model.Address</h6>

            <h5 class="card-title">@Html.DisplayNameFor(model => Model.PassportNumber)</h5>
            <h6 class="card-subtitle text-muted">@Model.PassportNumber</h6>

            <h5 class="card-title">@Html.DisplayNameFor(model => Model.PassportIssueDate)</h5>
            <h6 class="card-subtitle text-muted">@Model.PassportIssueDate.ToShortDateString()</h6>
        </div>
        <div class="card-footer d-flex justify-content-start">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Удалить" class="btn btn-danger" />
                <a asp-controller="Clients" asp-action="Index" class="btn btn-primary">Отменить</a>
            </form>
        </div>
    </div>
</div>