@model ValueTuple<Client, IEnumerable<Policy>>

@{
    ViewData["Title"] = "Детали о клиентах";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title text-primary text-center">Информация о клиенте</h5>
        </div>
        <div class="card-body row d-flex align-items-center text-center">
            <div class="col">
                <h5 class="card-text text-primary"><strong>ФИО</strong></h5>
                <h6 class="card-text">@Model.Item1.Surname @Model.Item1.Name @Model.Item1.MiddleName</h6>
                <h5 class="card-text text-primary"><strong>Дата рождения</strong></h5>
                <h6 class="card-text">@Model.Item1.Birthdate.ToShortDateString()</h6>
                <h5 class="card-text text-primary"><strong>Номер телефона</strong></h5>
                <h6 class="card-text">@Model.Item1.MobilePhone</h6>
                <h5 class="card-text text-primary"><strong>Адрес</strong></h5>
                <h6 class="card-text">@Model.Item1.Address</h6>
                <h5 class="card-text text-primary"><strong>Номер пасспорта</strong></h5>
                <h6 class="card-text">@Model.Item1.PassportNumber</h6>
                <h5 class="card-text text-primary"><strong>Дата выдачи пасспорта</strong></h5>
                <h6 class="card-text">@Model.Item1.PassportIssueDate.ToShortDateString()</h6>
            </div>
            <div class="col">
                <h5 class="card-text text-primary text-center"><strong>Страховой случаи</strong></h5>
                @if (Model.Item1.InsuranceCases.Count() > 0) {
                    <div class="overflow-auto" style="height: 200px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Дата
                                    </th>
                                    <th>
                                        Описание
                                    </th>
                                    <th>
                                        Страховая выплата
                                    </th>
                                    <th>
                                        Название подтверждающего документа
                                    </th>
                                    <th>
                                        Описание подтверждающего документа
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var insuranceCase in Model.Item1.InsuranceCases) {
                                    <tr>
                                        <td>
                                            @insuranceCase.Date.ToShortDateString()
                                        </td>
                                        <td>
                                            @insuranceCase.Description
                                        </td>
                                        <td>
                                            @insuranceCase.InsurancePayment $
                                        </td>
                                        <td>
                                            @insuranceCase.SupportingDocument.Name
                                        </td>
                                        <td>
                                            @insuranceCase.SupportingDocument.Description
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else {
                    <h1 class="text-primary text-center">У клиента нет страховых случаев</h1>
                }
                <h5 class="card-text text-primary text-center"><strong>Список полисов</strong></h5>
                @if(Model.Item2.Count() > 0) {
                    <div class="overflow-auto" style="height: 200px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Страховой агент
                                    </th>
                                    <th>
                                        Номер полиса
                                    </th>
                                    <th>
                                        Тип страховки
                                    </th>
                                    <th>
                                        Начало действия
                                    </th>
                                    <th>
                                        Продолжительность
                                    </th>
                                    <th>
                                        Страховая выплота
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var policy in Model.Item2) {
                                    <tr>
                                        <td>
                                            @policy.InsuranceAgent.Surname @policy.InsuranceAgent.Name @policy.InsuranceAgent.MiddleName
                                        </td>
                                        <td>
                                            @policy.PolicyNumber
                                        </td>
                                        <td>
                                            @policy.InsuranceType.Name
                                        </td>
                                        <td>
                                            @policy.ApplicationDate.ToShortDateString()
                                        </td>
                                        <td>
                                            @policy.PolicyTerm мес.
                                        </td>
                                        <td>
                                            @policy.PolicyPayment $
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else {
                    <h1 class="text-primary text-center">У клиента нет полисов</h1>
                }
            </div>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <a class="btn btn-primary" asp-action="Index">Вернуться к списку</a>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Item1.Id">Редактировать</a>
        </div>
    </div>
</div>