@using InsuranceCompany.Utilities
@using Models.Models;
@using Models.ViewModels.FilterViewModels;
@using Models.ViewModels.PageViewModels;
@model PageModel<Client, ClientFilterModel>;

@{
    ViewData["Title"] = "Клиенты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Фильтры</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form asp-action="Index">
            <div class="form-floating mb-3">
                <input name="Name" asp-for="@Model.FilterModel.Name" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.Name)" />
                <label asp-for="@Model.FilterModel.Name">@Html.DisplayNameFor(model => model.FilterModel.Name)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="Surname" asp-for="@Model.FilterModel.Surname" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.Surname)" />
                <label asp-for="@Model.FilterModel.Surname">@Html.DisplayNameFor(model => model.FilterModel.Surname)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="MiddleName" asp-for="@Model.FilterModel.MiddleName" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.MiddleName)" />
                <label asp-for="@Model.FilterModel.MiddleName">@Html.DisplayNameFor(model => model.FilterModel.MiddleName)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="BirthdateStart" type="date" asp-for="@Model.FilterModel.BirthdateStart" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.BirthdateStart)" />
                <label asp-for="@Model.FilterModel.BirthdateStart">@Html.DisplayNameFor(model => model.FilterModel.BirthdateStart)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="BirthdateEnd" type="date" asp-for="@Model.FilterModel.BirthdateEnd" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.BirthdateEnd)" />
                <label asp-for="@Model.FilterModel.BirthdateEnd">@Html.DisplayNameFor(model => model.FilterModel.BirthdateEnd)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="Address" asp-for="@Model.FilterModel.Address" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.Address)" />
                <label asp-for="@Model.FilterModel.Address">@Html.DisplayNameFor(model => model.FilterModel.Address)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="MobilePhone" asp-for="@Model.FilterModel.MobilePhone" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.MobilePhone)" />
                <label asp-for="@Model.FilterModel.MobilePhone">@Html.DisplayNameFor(model => model.FilterModel.MobilePhone)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="PassportNumber" asp-for="@Model.FilterModel.PassportNumber" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.PassportNumber)" />
                <label asp-for="@Model.FilterModel.PassportNumber">@Html.DisplayNameFor(model => model.FilterModel.PassportNumber)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="PassportIssueDateStart" type="date" asp-for="@Model.FilterModel.PassportIssueDateStart" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.PassportIssueDateStart)" />
                <label asp-for="@Model.FilterModel.PassportIssueDateStart">@Html.DisplayNameFor(model => model.FilterModel.PassportIssueDateStart)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="PassportIssueDateEnd" type="date" asp-for="@Model.FilterModel.PassportIssueDateEnd" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.PassportIssueDateEnd)" />
                <label asp-for="@Model.FilterModel.PassportIssueDateEnd">@Html.DisplayNameFor(model => model.FilterModel.PassportIssueDateEnd)</label>
            </div>

            <div class="form-check form-switch mb-3">
                <input name="PolicyIsFinishNextMounth" type="checkbox" asp-for="@Model.FilterModel.PolicyIsFinishNextMounth" class="form-check-input" placeholder="@Html.DisplayNameFor(model => model.FilterModel.PolicyIsFinishNextMounth)" />
                <label asp-for="@Model.FilterModel.PolicyIsFinishNextMounth" class="form-check-label">@Html.DisplayNameFor(model => model.FilterModel.PolicyIsFinishNextMounth)</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" name="SortTypeName" asp-for="@Model.FilterModel.SortTypeName">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
                <label asp-for="@Model.FilterModel.SortTypeName">@Html.DisplayNameFor(model => model.FilterModel.SortTypeName)</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" name="SortTypeSurname" asp-for="@Model.FilterModel.SortTypeSurname">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
                <label asp-for="@Model.FilterModel.SortTypeSurname">@Html.DisplayNameFor(model => model.FilterModel.SortTypeSurname)</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" name="SortTypeMiddleName" asp-for="@Model.FilterModel.SortTypeMiddleName">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
                <label asp-for="@Model.FilterModel.SortTypeMiddleName">@Html.DisplayNameFor(model => model.FilterModel.SortTypeMiddleName)</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" name="SortTypeBirthdate" asp-for="@Model.FilterModel.SortTypeBirthdate">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
                <label asp-for="@Model.FilterModel.SortTypeBirthdate">@Html.DisplayNameFor(model => model.FilterModel.SortTypeBirthdate)</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" name="SortTypePassportIssueDate" asp-for="@Model.FilterModel.SortTypePassportIssueDate">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
                <label asp-for="@Model.FilterModel.SortTypePassportIssueDate">@Html.DisplayNameFor(model => model.FilterModel.SortTypePassportIssueDate)</label>
            </div>

            <div class="card-footer mb-3 text-center">
                <button type="submit" class="btn btn-primary btn-block">Применить</button>
            </div>
        </form>
    </div>
</div>

<h1 class="display-4 text-primary text-center">Клиенты</h1>
<div class="d-flex justify-content-end mb-2">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
        @Html.FilterIcon(32, 32)
    </button>
</div>

<div class="row">
    @foreach (var client in Model.Entities) {
        <div class="col-md-4">
            <div class="card mb-3" style="min-height: 26rem">
                <h3 class="card-header text-primary">@client.Surname @client.Name @client.MiddleName</h3>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(model => client.Birthdate)</h5>
                    <h6 class="card-subtitle text-muted">@client.Birthdate.ToShortDateString()</h6>

                    <h5 class="card-title">@Html.DisplayNameFor(model => client.MobilePhone)</h5>
                    <h6 class="card-subtitle text-muted">@client.MobilePhone</h6>

                    <h5 class="card-title">@Html.DisplayNameFor(model => client.Address)</h5>
                    <h6 class="card-subtitle text-muted">@client.Address</h6>

                    <h5 class="card-title">@Html.DisplayNameFor(model => client.PassportNumber)</h5>
                    <h6 class="card-subtitle text-muted">@client.PassportNumber</h6>

                    <h5 class="card-title">@Html.DisplayNameFor(model => client.PassportIssueDate)</h5>
                    <h6 class="card-subtitle text-muted">@client.PassportIssueDate.ToShortDateString()</h6>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <a class="text-decoration-none mx-1" asp-action="Edit" asp-route-id="@client.Id">
                        @Html.EditIcon(28, 28)
                    </a>
                    <a class="text-decoration-none mx-1" asp-action="Delete" asp-route-id="@client.Id">
                        @Html.DeleteIcon(28, 28)
                    </a>
                    <a class="text-decoration-none mx-1" asp-action="Details" asp-route-id="@client.Id">
                        @Html.InfoIcon(28, 28)
                    </a>
                </div>
            </div>
        </div>
    }
</div>

<div class="d-flex justify-content-center align-items-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++) {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i, pageSize = Model.PageSize })">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>