@using InsuranceCompany.ViewModels;
@model PageModel<Policy, PolicyFilterModel>;

@{
    ViewData["Title"] = "Полисы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .hidden {
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }
</style>
<div class="row">
    <div id="filterMenu" class="card col-sm-3 hidden">
        <div class="card-header">
            <h5 class="text-primary text-center">Фильтры</h5>
        </div>
        <form asp-action="Index" method="post">
            <div class="form-group mb-3">
                <label class="form-label">Номер полиса</label>
                <input asp-for="@Model.FilterModel.PolicyNumber" name="PolicyNumber" class="form-control" />
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Начало действия полиса</label>
                <input asp-for="@Model.FilterModel.ApplicationDateStart" type="date" name="ApplicationDateStart" class="form-control" />
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Конец действия полиса </label>
                <input asp-for="@Model.FilterModel.ApplicationDateEnd" type="date" name="ApplicationDateEnd" class="form-control" />
            </div>

            <div class="form-group mb-3">
                Страховая выплата (от и до)
                <input class="form-control" asp-for="@Model.FilterModel.MinPolicyPayment" type="number" name="MinPolicyPayment" value="@Model.FilterModel.MinPolicyPayment" class="form-control" />
                <input class="form-control" asp-for="@Model.FilterModel.MaxPolicyPayment" type="number" name="MaxPolicyPayment" value="@Model.FilterModel.MaxPolicyPayment" class="form-control" />
            </div>

            <div class="form-group mb-3">
                Страховой агент
                <select asp-for="@Model.FilterModel.InsuranceAgentId" name="InsuranceAgentId" asp-items="@Model.FilterModel.InsuranceAgentList" class="form-select" aria-required="true">
                    <option value="-1">Все</option>
                </select>
            </div>

            <div class="form-group mb-3">
                Тип страхования
                <select asp-items="@Model.FilterModel.InsuranceTypeList" name="InsuranceTypeId" asp-for="@Model.FilterModel.InsuranceTypeId" class="form-select" aria-required="true">
                    <option value="-1">Все</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label class="form-label">Только действующие полисы </label>
                <input asp-for="@Model.FilterModel.PolicyIsActing" type="checkbox" name="PolicyIsActing" class="form-check-input" />
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Сортировка по страховой выплате</label>
                <select name="SortTypePolicyPaymen" asp-for="@Model.FilterModel.SortTypePolicyPaymen" class="form-select" aria-required="true">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Сортировка по продолжительности</label>
                <select name="SortTypePolicyTerm" asp-for="@Model.FilterModel.SortTypePolicyTerm" class="form-select" aria-required="true">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Сортировка по дате начала полиса</label>
                <select name="SortTypeApplicationDate" asp-for="@Model.FilterModel.SortTypeApplicationDate" class="form-select" aria-required="true">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-block">Применить</button>
            </div>
        </form>
    </div>
    <div class="col">
        <h1 class="display-4 text-primary text-center">Полисы</h1>
        <div class="d-flex justify-content-between mb-2">
            <a class="btn btn-primary btn-block " asp-controller="Policies" asp-action="Index">Оформить полис</a>
            <button id="toggleFilterMenu" class="btn btn-primary btn-block">Фильтры</button>
        </div>
        <div class="row">
            @foreach (var policy in Model.Entities) {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title text-center text-primary">Номер полиса: @policy.PolicyNumber</h5>
                            <p class="card-text"><strong>Страховой агент:</strong> @policy.InsuranceAgent.Surname @policy.InsuranceAgent.Name @policy.InsuranceAgent.MiddleName</p>
                            <p class="card-text"><strong>Начало действия полиса:</strong> @policy.ApplicationDate.ToShortDateString()</p>
                            <p class="card-text"><strong>Тип страхования:</strong> @policy.InsuranceType.Name</p>
                            <p class="card-text"><strong>Срок действия полиса:</strong> @policy.PolicyTerm мес.</p>
                            <p class="card-text"><strong>Страховая выплата:</strong> @policy.PolicyPayment $</p>
                            <a class="text-dark" asp-controller="Policies" asp-action="Details" asp-route-id="@policy.Id">Детали</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.TotalPages; i++) {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i, pageSize = Model.PageSize })">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    document.getElementById('toggleFilterMenu').addEventListener('click', function () {
        var filterMenu = document.getElementById('filterMenu');
        filterMenu.classList.toggle('hidden');
    });
</script>