@model InsuranceCompany.Models.InsuranceCase

@{
    ViewData["Title"] = "Удаление страховых случаев";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="card mb-3">
        <h3 class="card-header text-primary">@Model.Date.ToShortDateString()</h3>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayNameFor(model => Model.InsurancePayment)</h5>
            <h6 class="card-subtitle text-muted">@Model.InsurancePayment $</h6>

            <h5 class="card-title">@Html.DisplayNameFor(model => Model.SupportingDocument.Name) страхового документа</h5>
            <h6 class="card-subtitle text-muted">@Model.SupportingDocument.Name</h6>

            <h5 class="card-title">@Html.DisplayNameFor(model => Model.Description)</h5>
            <h6 class="card-subtitle text-muted">@Model.Description</h6>
        </div>
        <div class="card-footer d-flex justify-content-start">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Удалить" class="btn btn-danger" />
                <a asp-controller="ClientInsuranceCases" asp-action="Index" class="btn btn-primary">Отменить</a>
            </form>
        </div>
    </div>
</div>