@model InsuranceCompany.Models.InsuranceCase

@{
    ViewData["Title"] = "Детали о страховом случае";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">
    <div class="card mb-3">
        <h3 class="card-header text-primary">@Model.Date.ToShortDateString()</h3>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayNameFor(model => Model.InsurancePayment)</h5>
            <h6 class="card-subtitle text-muted">@Model.InsurancePayment $</h6>

            <h5 class="card-title">@Html.DisplayNameFor(model => Model.SupportingDocument.Name) страхового документа</h5>
            <h6 class="card-subtitle text-muted">@Model.SupportingDocument.Name</h6>

            <h5 class="card-title">@Html.DisplayNameFor(model => Model.Description)</h5>
            <h6 class="card-subtitle text-muted">@Model.Description</h6>
        </div>
        <div class="card-footer d-flex justify-content-start">
            <a class="btn btn-primary mx-2" asp-action="Index">Вернуться к списку</a>
            <a class="btn btn-warning mx-2" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
        </div>
    </div>
</div>