@using InsuranceCompany.Utilities;
@model ValueTuple<Policy, IEnumerable<Client>>


@{
    ViewData["Title"] = "Детали о полисах";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="card mb-3">
        <h3 class="card-header text-primary text-center">@Model.Item1.PolicyNumber</h3>
        <div class="card-body">
            <div class="card-body row d-flex align-items-center">
                <div class="col">
                    <h5 class="card-title">@Html.DisplayNameFor(model => Model.Item1.PolicyPayment)</h5>
                    <h6 class="card-subtitle text-muted">@Model.Item1.PolicyPayment $</h6>

                    <h5 class="card-title">@Html.DisplayNameFor(model => Model.Item1.ApplicationDate)</h5>
                    <h6 class="card-subtitle text-muted">@Model.Item1.ApplicationDate.ToShortDateString()</h6>

                    <h5 class="card-title">@Html.DisplayNameFor(model => Model.Item1.PolicyTerm)</h5>
                    <h6 class="card-subtitle text-muted">@Model.Item1.PolicyTerm мес.</h6>

                    <h5 class="card-title">@Html.DisplayNameFor(model => Model.Item1.InsuranceType.Name)</h5>
                    <h6 class="card-subtitle text-muted">@Model.Item1.InsuranceType.Name</h6>
                </div>
                <div class="col">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Страховой агент
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="overflow-auto" style="height: 250px;">
                                        <div class="card mb-3">
                                            <h3 class="card-header text-primary">@Model.Item1.InsuranceAgent.Surname @Model.Item1.InsuranceAgent.Name @Model.Item1.InsuranceAgent.MiddleName</h3>
                                            <div class="card-body">
                                                <h5 class="card-title">@Html.DisplayNameFor(model => model.Item1.InsuranceAgent.AgentType.Type)</h5>
                                                <h6 class="card-subtitle text-muted">@Model.Item1.InsuranceAgent.AgentType.Type</h6>

                                                <h5 class="card-title">@Html.DisplayNameFor(model => model.Item1.InsuranceAgent.Contract.Responsibilities)</h5>
                                                <h6 class="card-subtitle text-muted">@Model.Item1.InsuranceAgent.Contract.Responsibilities</h6>

                                                <h5 class="card-title">@Html.DisplayNameFor(model => model.Item1.InsuranceAgent.Contract.StartDeadline)</h5>
                                                <h6 class="card-subtitle text-muted">@Model.Item1.InsuranceAgent.Contract.StartDeadline.ToShortDateString()</h6>

                                                <h5 class="card-title">@Html.DisplayNameFor(model => model.Item1.InsuranceAgent.Contract.EndDeadline)</h5>
                                                <h6 class="card-subtitle text-muted">@Model.Item1.InsuranceAgent.Contract.EndDeadline.ToShortDateString()</h6>

                                                <h5 class="card-title">@Html.DisplayNameFor(model => model.Item1.InsuranceAgent.Contract.Salary)</h5>
                                                <h6 class="card-subtitle text-muted">@Model.Item1.InsuranceAgent.Contract.Salary $</h6>

                                                <h5 class="card-title">@Html.DisplayNameFor(model => model.Item1.InsuranceAgent.Contract.TransactionPercent)</h5>
                                                <h6 class="card-subtitle text-muted">@Model.Item1.InsuranceAgent.Contract.TransactionPercent</h6>
                                            </div>
                                            <div class="card-footer d-flex justify-content-end">
                                                <a class="text-decoration-none mx-1" asp-action="Edit" asp-controller="InsuranceAgents" asp-route-id="@Model.Item1.InsuranceAgent.Id">
                                                    @Html.EditIcon(28, 28)
                                                </a>
                                                <a class="text-decoration-none mx-1" asp-action="Delete" asp-controller="InsuranceAgents" asp-route-id="@Model.Item1.InsuranceAgent.Id">
                                                    @Html.DeleteIcon(28, 28)
                                                </a>
                                                <a class="text-decoration-none mx-1" asp-action="Details" asp-controller="InsuranceAgents" asp-route-id="@Model.Item1.InsuranceAgent.Id">
                                                    @Html.InfoIcon(28, 28)
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                    Список клиентов
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    @if (Model.Item2.Count() > 0) {
                                        <div class="overflow-auto" style="height: 250px;">
                                            @foreach (var client in Model.Item2) {
                                                <div class="card mb-3">
                                                    <h3 class="card-header text-primary">@client.Surname @client.Name @client.MiddleName</h3>
                                                    <div class="card-body">
                                                        <h5 class="card-title">@Html.DisplayNameFor(model => client.Birthdate)</h5>
                                                        <h6 class="card-subtitle text-muted">@client.Birthdate.ToShortDateString()</h6>

                                                        <h5 class="card-title">@Html.DisplayNameFor(model => client.Address)</h5>
                                                        <h6 class="card-subtitle text-muted">@client.Address</h6>

                                                        <h5 class="card-title">@Html.DisplayNameFor(model => client.MobilePhone)</h5>
                                                        <h6 class="card-subtitle text-muted">@client.MobilePhone</h6>

                                                        <h5 class="card-title">@Html.DisplayNameFor(model => client.PassportNumber)</h5>
                                                        <h6 class="card-subtitle text-muted">@client.PassportNumber</h6>

                                                        <h5 class="card-title">@Html.DisplayNameFor(model => client.PassportIssueDate)</h5>
                                                        <h6 class="card-subtitle text-muted">@client.PassportIssueDate.ToShortDateString()</h6>
                                                    </div>
                                                    <div class="card-footer d-flex justify-content-end">
                                                        <a class="text-decoration-none mx-1" asp-action="Edit" asp-controller="Clients" asp-route-id="@client.Id">
                                                            @Html.EditIcon(28, 28)
                                                        </a>
                                                        <a class="text-decoration-none mx-1" asp-action="Delete" asp-controller="Clients" asp-route-id="@client.Id">
                                                            @Html.DeleteIcon(28, 28)
                                                        </a>
                                                        <a class="text-decoration-none mx-1" asp-action="Details" asp-controller="Clients" asp-route-id="@client.Id">
                                                            @Html.InfoIcon(28, 28)
                                                        </a>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                    else {
                                        <h3 class="card-header text-primary text-center">Клиентов нет</h3>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-start">
            <a class="btn btn-primary mx-2" asp-action="Index">Вернуться к списку</a>
            <a class="btn btn-warning mx-2" asp-action="Edit" asp-route-id="@Model.Item1.Id">Редактировать</a>
        </div>
    </div>
</div>