@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model ValueTuple<Policy, IEnumerable<Client>>


@{
    ViewData["Title"] = "Детали о полисах";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var role = @UserManager.GetRolesAsync(@UserManager.GetUserAsync(User).Result).Result[0];
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title text-primary text-center">Информация о полисе</h5>
        </div>
        <div class="card-body row d-flex align-items-center text-center">
            <div class="col">
                <h5 class="card-text text-primary"><strong>Номер полиса</strong></h5>
                <h6 class="card-text">@Model.Item1.PolicyNumber</h6>
                <h5 class="card-text text-primary"><strong>Страховая выплата</strong></h5>
                <h6 class="card-text">@Model.Item1.PolicyPayment $</h6>
                <h5 class="card-text text-primary"><strong>Начало полиса</strong></h5>
                <h6 class="card-text">@Model.Item1.ApplicationDate.ToShortDateString()</h6>
                <h5 class="card-text text-primary"><strong>Продолжительность</strong></h5>
                <h6 class="card-text">@Model.Item1.PolicyTerm мес.</h6>
            </div>
            <div class="col">
                <h5 class="card-text text-primary text-center"><strong>Страховой агент</strong></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Фамилия
                            </th>
                            <th>
                                Имя
                            </th>
                            <th>
                                Отчество
                            </th>
                            <th>
                                Тип агента
                            </th>
                            <th>
                                Обязанности
                            </th>
                            <th>
                                Начало контракта
                            </th>
                            <th>
                                Конец контракта
                            </th>
                            <th>
                                Зарплата
                            </th>
                            <th>
                                Процент от сделки
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Model.Item1.InsuranceAgent.Surname
                            </td>
                            <td>
                                @Model.Item1.InsuranceAgent.Name
                            </td>
                            <td>
                                @Model.Item1.InsuranceAgent.MiddleName
                            </td>
                            <td>
                                @Model.Item1.InsuranceAgent.AgentType.Type
                            </td>
                            <td>
                                @Model.Item1.InsuranceAgent.Contract.Responsibilities
                            </td>
                            <td>
                                @Model.Item1.InsuranceAgent.Contract.StartDeadline.ToShortDateString()
                            </td>
                            <td>
                                @Model.Item1.InsuranceAgent.Contract.EndDeadline.ToShortDateString()
                            </td>
                            <td>
                                @Model.Item1.InsuranceAgent.Contract.Salary $
                            </td>
                            <td>
                                @Model.Item1.InsuranceAgent.Contract.TransactionPercent
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="card-text text-primary text-center"><strong>Тип страховки</strong></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Название
                            </th>
                            <th>
                                Описание
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Model.Item1.InsuranceType.Name
                            </td>
                            <td>
                                @Model.Item1.InsuranceType.Description
                            </td>
                        </tr>
                    </tbody>
                </table>
                @if(role == "Страховой агент") {
                    <h5 class="card-text text-primary text-center"><strong>Список клиентов с этим полисом</strong></h5>
                    @if (Model.Item2.Count() > 0) {
                        <div class="overflow-auto" style="height: 200px;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Фамилия
                                        </th>
                                        <th>
                                            Имя
                                        </th>
                                        <th>
                                            Отчество
                                        </th>
                                        <th>
                                            Дата рождения
                                        </th>
                                        <th>
                                            Номер телефона
                                        </th>
                                        <th>
                                            Адрес
                                        </th>
                                        <th>
                                            Номер пасспорта
                                        </th>
                                        <th>
                                            Дата выдачи
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var client in Model.Item2) {
                                        <tr>
                                            <td>
                                                @client.Surname
                                            </td>
                                            <td>
                                                @client.Name
                                            </td>
                                            <td>
                                                @client.MiddleName
                                            </td>
                                            <td>
                                                @client.Birthdate.ToShortDateString()
                                            </td>
                                            <td>
                                                @client.MobilePhone
                                            </td>
                                            <td>
                                                @client.Address
                                            </td>
                                            <td>
                                                @client.PassportNumber
                                            </td>
                                            <td>
                                                @client.PassportIssueDate.ToShortDateString()
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else {
                        <h1 class="text-primary text-center">Нет клиентов с этим полисом</h1>
                    }
                }
            </div>
        </div>
        <div class="d-flex justify-content-between mb-3">
            @if(role =="Страховой агент") {
                <a class="btn btn-primary" asp-action="Index">Вернуться к списку</a>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Item1.Id">Редактировать</a>
            }
            else {
                <a class="btn btn-primary" asp-controller="PolicyClients" asp-action="Index">Вернуться к списку</a>
                <form asp-controller="PolicyClients" asp-action="Delete">
                    <input type="hidden" asp-for="@Model.Item1.Id" name="id"/>
                    <input type="submit" value="Отменить полис" class="btn btn-danger" />
                </form>
            }
            
        </div>
    </div>
</div>