@model InsuranceCompany.Models.InsuranceAgent

@{
    ViewData["Title"] = "Удаление страховых агентов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title text-primary text-center">Информация о страховом агенте</h5>
        </div>
        <div class="card-body row d-flex align-items-center text-center">
            <div class="col">
                <h5 class="card-text text-primary"><strong>ФИО</strong></h5>
                <h6 class="card-text">@Model.Surname @Model.Name @Model.MiddleName</h6>
                <h5 class="card-text text-primary"><strong>Тип страхового агента</strong></h5>
                <h6 class="card-text">@Model.AgentType.Type</h6>
                <h5 class="card-text text-primary"><strong>Обязанности</strong></h5>
                <h6 class="card-text">@Model.Contract.Responsibilities</h6>
                <h5 class="card-text text-primary"><strong>Начало контракта</strong></h5>
                <h6 class="card-text">@Model.Contract.StartDeadline.ToShortDateString()</h6>
                <h5 class="card-text text-primary"><strong>Конец контракта</strong></h5>
                <h6 class="card-text">@Model.Contract.EndDeadline.ToShortDateString()</h6>
                <h5 class="card-text text-primary"><strong>Зарплата</strong></h5>
                <h6 class="card-text">@Model.Contract.Salary $</h6>
                <h5 class="card-text text-primary"><strong>Процент от сделки</strong></h5>
                <h6 class="card-text">@Model.Contract.TransactionPercent</h6>
            </div>
        </div>
        <div class="mb-3 d-flex justify-content-center">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Удалить" class="btn btn-danger" /> |
                <a asp-controller="InsuranceAgents" asp-action="Index" class="btn btn-primary">Отменить</a>
            </form>
        </div>
    </div>
</div>
