@model Models.Models.InsuranceAgent

@{
    ViewData["Title"] = "Редактировать страхового агента";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4 text-primary text-center">Редактировать</h1>
<div class="row d-flex justify-content-center mb-2">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" autocomplete="@Html.DisplayNameFor(model => model.Name)" aria-required="true" placeholder="@Html.DisplayNameFor(model => model.Name)" />
                <label asp-for="Name">@Html.DisplayNameFor(model => model.Name)</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Surname" class="form-control" autocomplete="@Html.DisplayNameFor(model => model.Surname)" aria-required="true" placeholder="@Html.DisplayNameFor(model => model.Surname)" />
                <label asp-for="Surname">@Html.DisplayNameFor(model => model.Surname)</label>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="MiddleName" class="form-control" autocomplete="@Html.DisplayNameFor(model => model.MiddleName)" aria-required="true" placeholder="@Html.DisplayNameFor(model => model.MiddleName)" />
                <label asp-for="MiddleName">@Html.DisplayNameFor(model => model.MiddleName)</label>
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="AgentTypeId" class="form-control" asp-items="ViewBag.AgentTypeId"></select>
                <label asp-for="AgentTypeId">@Html.DisplayNameFor(model => model.AgentTypeId)</label>
                <span asp-validation-for="AgentTypeId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="ContractId" class="form-control" asp-items="ViewBag.ContractId"></select>
                <label asp-for="ContractId">@Html.DisplayNameFor(model => model.ContractId)</label>
                <span asp-validation-for="ContractId" class="text-danger"></span>
            </div>

            <input type="submit" value="Сохранить" class="w-100 btn btn-lg btn-primary mt-2" />
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}