@using InsuranceCompany.ViewModels;
@model PageModel<InsuranceAgent, InsuranceAgentFilterModel>;

@{
    ViewData["Title"] = "Страховые агенты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .hidden {
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }
</style>
<div class="row">
    <div id="filterMenu" class="card col-sm-3 hidden">
        <div class="card-header">
            <h5 class="text-primary text-center">Фильтры</h5>
        </div>
        <form asp-action="Index">
            <div class="form-group mb-3">
                <label class="control-label">Фамилия</label>
                <input class="form-control" name="Surname" value="@Model.FilterModel.Surname" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Имя</label>
                <input class="form-control" name="Name" value="@Model.FilterModel.Name" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Отчество</label>
                <input class="form-control" name="MiddleName" value="@Model.FilterModel.MiddleName" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Должность</label>
                <input class="form-control" name="Responsibilities" value="@Model.FilterModel.Responsibilities" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Тип агента</label>
                <input class="form-control" name="AgentType" value="@Model.FilterModel.AgentType" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Период контракта (ОТ и ДО)</label>
                <input asp-for="@Model.FilterModel.StartDeadLine" type="date" class="form-control" name="StartDeadLine" />
                <input asp-for="@Model.FilterModel.EndDeadLine" type="date" class="form-control" name="EndDeadLine" />
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Зарплата (ОТ и ДО)</label>
                <input asp-for="@Model.FilterModel.MinSalary" type="number" step="any" class="form-control" name="MinSalary" />
                <input asp-for="@Model.FilterModel.MaxSalary" type="number" step="any" class="form-control" name="MaxSalary" />
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Процент от сделки (ОТ и ДО)</label>
                <input asp-for="@Model.FilterModel.MinTransactionPercent" type="number" step="any" class="form-control" name="MinTransactionPercent" />
                <input asp-for="@Model.FilterModel.MaxTransactionPercent" type="number" step="any" class="form-control" name="MaxTransactionPercent" />
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Сортировка по фамилии</label>
                <select name="SortTypeSurname" asp-for="@Model.FilterModel.SortTypeSurname" class="form-select" aria-required="true">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Сортировка по имени</label>
                <select name="SortTypeName" asp-for="@Model.FilterModel.SortTypeName" class="form-select" aria-required="true">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Сортировка по отчеству</label>
                <select name="SortTypeMiddleName" asp-for="@Model.FilterModel.SortTypeMiddleName" class="form-select" aria-required="true">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Сортировка по зарплате</label>
                <select name="SortTypeSalary" asp-for="@Model.FilterModel.SortTypeSalary" class="form-select" aria-required="true">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Сортировка по проценту от сделки</label>
                <select name="SortTypeTransactionPercent" asp-for="@Model.FilterModel.SortTypeTransactionPercent" class="form-select" aria-required="true">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Сортировка по продолжительности контракта</label>
                <select name="SortTypeContractDuration" asp-for="@Model.FilterModel.SortTypeContractDuration" class="form-select" aria-required="true">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
            </div>

            <div class="card-footer mb-3">
                <button type="submit" class="btn btn-primary btn-block">Применить</button>
            </div>
        </form>
    </div>
    <div class="col">
        <h1 class="display-4 text-primary text-center">Страховые агенты</h1>
        <div class="d-flex justify-content-end mb-2">
            <button id="toggleFilterMenu" class="btn btn-primary btn-block">Фильтры</button>
        </div>
        <div class="row">
            @foreach (var insuranceAgent in base.Model.Entities) {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title text-center text-primary">@insuranceAgent.Surname @insuranceAgent.Name @insuranceAgent.MiddleName</h5>
                            <p class="card-text"><strong>Тип агента:</strong> @insuranceAgent.AgentType.Type</p>
                            <p class="card-text"><strong>Обязанности:</strong> @insuranceAgent.Contract.Responsibilities</p>
                            <p class="card-text"><strong>Начало контракта:</strong> @insuranceAgent.Contract.StartDeadline.ToShortDateString()</p>
                            <p class="card-text"><strong>Конец контракта:</strong> @insuranceAgent.Contract.EndDeadline.ToShortDateString()</p>
                            <p class="card-text"><strong>Зарплата:</strong> @insuranceAgent.Contract.Salary $</p>
                            <p class="card-text"><strong>Процент от сделки:</strong> @insuranceAgent.Contract.TransactionPercent</p>
                            <a class="text-dark" asp-action="Edit" asp-route-id="@insuranceAgent.Id">Редактировать</a> |
                            <a class="text-dark" asp-action="Delete" asp-route-id="@insuranceAgent.Id">Удалить</a> |
                            <a class="text-dark" asp-action="Details" asp-route-id="@insuranceAgent.Id">Детали</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @for (int i = 1; i <= base.Model.TotalPages; i++) {
                        <li class="page-item @(i == base.Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i, pageSize = base.Model.PageSize })">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    document.getElementById('toggleFilterMenu').addEventListener('click', function () {
        var filterMenu = document.getElementById('filterMenu');
        filterMenu.classList.toggle('hidden');
    });
</script>