@using InsuranceCompany.Utilities;
@using InsuranceCompany.ViewModels;
@model PageModel<InsuranceAgent, InsuranceAgentFilterModel>;

@{
    ViewData["Title"] = "Страховые агенты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Фильтры</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form asp-action="Index">
            <div class="form-floating mb-3">
                <input name="Name" asp-for="@Model.FilterModel.Name" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.Name)" />
                <label asp-for="@Model.FilterModel.Name">@Html.DisplayNameFor(model => model.FilterModel.Name)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="Surname" asp-for="@Model.FilterModel.Surname" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.Surname)" />
                <label asp-for="@Model.FilterModel.Surname">@Html.DisplayNameFor(model => model.FilterModel.Surname)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="MiddleName" asp-for="@Model.FilterModel.MiddleName" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.MiddleName)" />
                <label asp-for="@Model.FilterModel.MiddleName">@Html.DisplayNameFor(model => model.FilterModel.MiddleName)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="AgentType" asp-for="@Model.FilterModel.AgentType" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.AgentType)" />
                <label asp-for="@Model.FilterModel.AgentType">@Html.DisplayNameFor(model => model.FilterModel.AgentType)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="Responsibilities" asp-for="@Model.FilterModel.Responsibilities" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.Responsibilities)" />
                <label asp-for="@Model.FilterModel.Responsibilities">@Html.DisplayNameFor(model => model.FilterModel.Responsibilities)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="StartDeadLine" type="date" asp-for="@Model.FilterModel.StartDeadLine" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.StartDeadLine)" />
                <label asp-for="@Model.FilterModel.StartDeadLine">@Html.DisplayNameFor(model => model.FilterModel.StartDeadLine)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="EndDeadLine" type="date" asp-for="@Model.FilterModel.EndDeadLine" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.EndDeadLine)" />
                <label asp-for="@Model.FilterModel.EndDeadLine">@Html.DisplayNameFor(model => model.FilterModel.EndDeadLine)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="MinSalary" type="number" step="any" asp-for="@Model.FilterModel.MinSalary" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.MinSalary)" />
                <label asp-for="@Model.FilterModel.MinSalary">@Html.DisplayNameFor(model => model.FilterModel.MinSalary)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="MaxSalary" type="number" step="any" asp-for="@Model.FilterModel.MaxSalary" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.MaxSalary)" />
                <label asp-for="@Model.FilterModel.MaxSalary">@Html.DisplayNameFor(model => model.FilterModel.MaxSalary)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="MinTransactionPercent" type="number" step="any" asp-for="@Model.FilterModel.MinTransactionPercent" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.MinTransactionPercent)" />
                <label asp-for="@Model.FilterModel.MinTransactionPercent">@Html.DisplayNameFor(model => model.FilterModel.MinTransactionPercent)</label>
            </div>

            <div class="form-floating mb-3">
                <input name="MaxTransactionPercent" type="number" step="any" asp-for="@Model.FilterModel.MaxTransactionPercent" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FilterModel.MaxTransactionPercent)" />
                <label asp-for="@Model.FilterModel.MaxTransactionPercent">@Html.DisplayNameFor(model => model.FilterModel.MaxTransactionPercent)</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" name="SortTypeName" asp-for="@Model.FilterModel.SortTypeName">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
                <label asp-for="@Model.FilterModel.SortTypeName">@Html.DisplayNameFor(model => model.FilterModel.SortTypeName)</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" name="SortTypeSurname" asp-for="@Model.FilterModel.SortTypeSurname">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
                <label asp-for="@Model.FilterModel.SortTypeSurname">@Html.DisplayNameFor(model => model.FilterModel.SortTypeSurname)</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" name="SortTypeMiddleName" asp-for="@Model.FilterModel.SortTypeMiddleName">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
                <label asp-for="@Model.FilterModel.SortTypeMiddleName">@Html.DisplayNameFor(model => model.FilterModel.SortTypeMiddleName)</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" name="SortTypeSalary" asp-for="@Model.FilterModel.SortTypeSalary">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
                <label asp-for="@Model.FilterModel.SortTypeSalary">@Html.DisplayNameFor(model => model.FilterModel.SortTypeSalary)</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" name="SortTypeTransactionPercent" asp-for="@Model.FilterModel.SortTypeTransactionPercent">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
                <label asp-for="@Model.FilterModel.SortTypeTransactionPercent">@Html.DisplayNameFor(model => model.FilterModel.SortTypeTransactionPercent)</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" name="SortTypeContractDuration" asp-for="@Model.FilterModel.SortTypeContractDuration">
                    <option value="0">Без сортировки</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
                <label asp-for="@Model.FilterModel.SortTypeContractDuration">@Html.DisplayNameFor(model => model.FilterModel.SortTypeContractDuration)</label>
            </div>

            <div class="card-footer mb-3 text-center">
                <button type="submit" class="btn btn-primary btn-block">Применить</button>
            </div>
        </form>
    </div>
</div>

<h1 class="display-4 text-primary text-center">Страховые агенты</h1>
<div class="d-flex justify-content-end mb-2">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
        @Html.FilterIcon(32, 32)
    </button>
</div>

<div class="row">
    @foreach (var insuranceAgent in Model.Entities) {
        <div class="col-md-4">
            <div class="card mb-3" style="min-height: 28rem">
                <h3 class="card-header text-primary">@insuranceAgent.Surname @insuranceAgent.Name @insuranceAgent.MiddleName</h3>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(model => insuranceAgent.AgentType.Type)</h5>
                    <h6 class="card-subtitle text-muted">@insuranceAgent.AgentType.Type</h6>

                    <h5 class="card-title">@Html.DisplayNameFor(model => insuranceAgent.Contract.Responsibilities)</h5>
                    <h6 class="card-subtitle text-muted">@insuranceAgent.Contract.Responsibilities</h6>

                    <h5 class="card-title">@Html.DisplayNameFor(model => insuranceAgent.Contract.StartDeadline)</h5>
                    <h6 class="card-subtitle text-muted">@insuranceAgent.Contract.StartDeadline.ToShortDateString()</h6>

                    <h5 class="card-title">@Html.DisplayNameFor(model => insuranceAgent.Contract.EndDeadline)</h5>
                    <h6 class="card-subtitle text-muted">@insuranceAgent.Contract.EndDeadline.ToShortDateString()</h6>

                    <h5 class="card-title">@Html.DisplayNameFor(model => insuranceAgent.Contract.Salary)</h5>
                    <h6 class="card-subtitle text-muted">@insuranceAgent.Contract.Salary $</h6>

                    <h5 class="card-title">@Html.DisplayNameFor(model => insuranceAgent.Contract.TransactionPercent)</h5>
                    <h6 class="card-subtitle text-muted">@insuranceAgent.Contract.TransactionPercent</h6>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <a class="text-decoration-none mx-1" asp-action="Edit" asp-route-id="@insuranceAgent.Id">
                        @Html.EditIcon(28, 28)
                    </a>
                    <a class="text-decoration-none mx-1" asp-action="Delete" asp-route-id="@insuranceAgent.Id">
                        @Html.DeleteIcon(28, 28)
                    </a>
                    <a class="text-decoration-none mx-1" asp-action="Details" asp-route-id="@insuranceAgent.Id">
                        @Html.InfoIcon(28, 28)
                    </a>
                </div>
            </div>
        </div>
    }
</div>

<div class="d-flex justify-content-center align-items-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++) {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i, pageSize = Model.PageSize })">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>