@model InsuranceCompany.Models.Contract

@{
    ViewData["Title"] = "Удаление контрактов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="card mb-3">
        <h3 class="card-header text-primary text-center">@Model.Responsibilities</h3>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayNameFor(model => model.StartDeadline)</h5>
            <h6 class="card-subtitle text-muted">@Model.StartDeadline.ToShortDateString()</h6>

            <h5 class="card-title">@Html.DisplayNameFor(model => model.EndDeadline)</h5>
            <h6 class="card-subtitle text-muted">@Model.EndDeadline.ToShortDateString()</h6>

            <h5 class="card-title">@Html.DisplayNameFor(model => model.Salary)</h5>
            <h6 class="card-subtitle text-muted">@Model.Salary $</h6>

            <h5 class="card-title">@Html.DisplayNameFor(model => model.TransactionPercent)</h5>
            <h6 class="card-subtitle text-muted">@Model.TransactionPercent</h6>
        </div>
        <div class="card-footer d-flex justify-content-start">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Удалить" class="btn btn-danger" />
                <a asp-controller="Contracts" asp-action="Index" class="btn btn-primary">Отменить</a>
            </form>
        </div>
    </div>
</div>