@model Models.Models.Contract

@{
    ViewData["Title"] = "Редактировать контракты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4 text-primary text-center">Редактировать</h1>
<div class="row d-flex justify-content-center mb-2">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Responsibilities" class="form-control" autocomplete="@Html.DisplayNameFor(model => model.Responsibilities)" aria-required="true" placeholder="@Html.DisplayNameFor(model => model.Responsibilities)" />
                <label asp-for="Responsibilities">@Html.DisplayNameFor(model => model.Responsibilities)</label>
                <span asp-validation-for="Responsibilities" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="StartDeadline" type="date" class="form-control" autocomplete="@Html.DisplayNameFor(model => model.StartDeadline)" aria-required="true" placeholder="@Html.DisplayNameFor(model => model.StartDeadline)" />
                <label asp-for="StartDeadline">@Html.DisplayNameFor(model => model.StartDeadline)</label>
                <span asp-validation-for="StartDeadline" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="EndDeadline" type="date" class="form-control" autocomplete="@Html.DisplayNameFor(model => model.EndDeadline)" aria-required="true" placeholder="@Html.DisplayNameFor(model => model.EndDeadline)" />
                <label asp-for="EndDeadline">@Html.DisplayNameFor(model => model.EndDeadline)</label>
                <span asp-validation-for="EndDeadline" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Salary" step="any" class="form-control" autocomplete="@Html.DisplayNameFor(model => model.Salary)" aria-required="true" placeholder="@Html.DisplayNameFor(model => model.Salary)" />
                <label asp-for="Salary">@Html.DisplayNameFor(model => model.Salary)</label>
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="TransactionPercent" step="any" class="form-control" autocomplete="@Html.DisplayNameFor(model => model.TransactionPercent)" aria-required="true" placeholder="@Html.DisplayNameFor(model => model.TransactionPercent)" />
                <label asp-for="TransactionPercent">@Html.DisplayNameFor(model => model.TransactionPercent)</label>
                <span asp-validation-for="TransactionPercent" class="text-danger"></span>
            </div>

            <input type="submit" value="Сохранить" class="w-100 btn btn-lg btn-primary mt-2" />
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}